@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: $darkBrown;
}

img {
  width: 100%;
}

input {
  outline: none;
  border-color: $darkBrown;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: transparent;
}