.advantages {

  text-align: center;
  margin-bottom: 2rem;

  &__shape {
    width: 6rem;
    height: 6rem;
    border: 4px solid $mainBlue;
    margin: 0 auto;
    border-radius: 50% 50% 50% 0;
  }

  &__title {
    font-size: 1.5rem;
    margin-top: 1.25rem;
  }

  &__text {
    font-size: .875rem;
    color: $lightBrown;
    line-height: 1.5;
  }
}