.form {

  &__section {
      margin-bottom: 2rem;
  }

  &__section--second {
    margin-bottom: 1.25rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin: 1.5rem 0 1.75rem;
  }

  &__subtitle {
    font-weight: 500;
    margin-bottom: .875rem;
  }

  &__text-input {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem .75rem;
    color: $darkBrown;

    &::placeholder {
      color: $darkBrown;
    }
  }

  &__datetime {
    display: flex;
    flex-direction: column;

    @mixin atSmallest {
      flex-direction: row;
    }
  }

  &__date-input {
    padding: .5rem .75rem;
    margin-top: 1rem;

    &::-webkit-calendar-picker-indicator {
      margin-left: 0;
      transform: scale(1.2);
    }

    @mixin atSmallest {
      width: 7rem;
      flex: 2 1 auto;
    }
  }

  &__time-input {
    padding: .5rem .75rem;
    margin-top: 1rem;

    &::-webkit-calendar-picker-indicator {
      margin-left: 0;
      transform: scale(1.4);
    }

    @mixin atSmallest {
      width: 4rem;
      flex: 1 0 auto;
      margin-left: 1rem;
    }
  }

  &__checkbox {
    transform-origin: top left;
    transform: scale(1.5);
    margin-bottom: 1.25rem;
  }

  &__label {
    padding: 1rem;
    vertical-align: sub;
    color: $mainBlue;
    font-size: .875rem;

    @mixin atSmallest {
      font-size: 1rem;
    }
  }
}