.info-bar {
  margin-top: 36rem;
  background-color: $lightBrown;
  color: $mainLight;
  border-top: 6px solid $darkBrown;
  border-bottom: 6px solid $darkBrown;
  text-align: center;
  font-size: 1.125rem;

  @mixin atSmallest {
    margin-top: 30rem;
  }

  @mixin atSmall {
    margin-top: 28rem;
  }

  @mixin atLarge {
    margin-top: 0;
    text-align: end;
  }

  @mixin atXLarge {

    & > .wrapper {
      display: flex;
    }
    
  }

  &__call {
    font-size: 1.25rem;

    @mixin atSmall {
      font-size: 1.625rem;
      margin: 1.5rem 0;
    }

    @mixin atXLarge {
      display: inline-block;
      font-size: 1.875rem;
      font-weight: 300;
    }
  }

  &__phone {
    @mixin atMedium {
      display: inline-block;
      margin: 0 1rem 1.25rem;
    }

    @mixin atXLarge {
      font-size: 1.875rem;
      margin: 1.5rem auto;
      font-weight: 300;
    }
  }

  &__hours {
    @mixin atMedium {
      display: inline-block;
      margin: 0 1rem 1.25rem;
    }

    @mixin atLarge {
      margin-right: 0;
    }

    @mixin atXLarge {
      font-size: 1.875rem;
      margin: 1.5rem 0;
      font-weight: 300;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -25%;

    @mixin atXLarge {
      width: 1.75rem;
      height: 1.75rem;
      vertical-align: -15%;
    }
  }

}