.wrapper {
  padding: 0 2rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  @mixin atMedium {
    padding: 0 3rem;
  }

  @mixin atLarge {
    padding: 0 5rem;
  }

  &--extra-padding {

    @mixin atSmall {
      padding: 0 5rem;
    }
  }
}